*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(570px, 2fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;
}